@media (max-width: 1250px) {
    .hero-content {
        width: 60%;
        margin-top: 40px;
    }
}





@media (max-width: 1050px) {

    .hero-carousel {
        width: 100%;
        height: 500px;
        padding-top: 80px;
    }

    .hero-slide {
        background-position: left;
    }

    .hero-content {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .hero-btn-container {
        justify-content: center;
    }


    .hero-fixed-card {
        padding: 10px 20px;
        gap: 20px;
    }





    .premium-grid {
        grid-template-columns: 1fr 1fr;
    }

    .image-wrapper {
        height: 240px;
    }






    .footer-top {
        flex-direction: column;
        gap: 50px;
    }

    .footer-top-left {
        width: 100%;
        text-align: center;
    }

    .footer-top-left p {
        margin: 15px auto 0;
        width: 100%;
    }

    .footer-top-right {
        width: 100%;
        justify-content: center;
    }

    .social-box {
        justify-content: center;
        margin-top: 10px;
    }

    .footer-col {
        text-align: center;
    }

    .footer-download-container {
        justify-content: center;
        flex-wrap: wrap;
    }





    /* .footer-top-right {
        text-align: center;
    } */


}








@media (max-width: 992px) {
    .plan-card.featured {
        transform: scale(1);
        margin: 20px 0;
    }

    .plan-card.featured:hover {
        transform: translateY(-10px);
    }
}









@media (max-width: 768px) {
    .mobile-nav-toggle {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
        margin-top: 20px;
    }

    .navmenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100%;
        background-color: #fff;
        box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
        transition: right 0.4s ease-in-out;
        z-index: 1000;
        padding: 100px 40px;
    }

    .navmenu.open {
        right: 0;
    }

    .navmenu ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .mobile-nav-toggle.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .mobile-nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-nav-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }







    .btn-container {
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }






    .hero-carousel {
        width: 100%;
        height: fit-content;
        padding-top: 80px;
    }

    .hero-content {
        padding-bottom: 30px;
    }

    .hero-content h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .hero-btn-container {
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    .btn {
        height: 46px;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .show-on-mobile {
        position: relative;
        flex-direction: column;
    }

    .show-on-mobile .hero-fixed-card {
        width: 100%;
        justify-content: center;
        padding: 10px 20px;
        gap: 20px;
    }

    .hero-fixed-start .hero-fixed-content {
        padding-right: 48px;
    }

    .hero-fixed-mid .hero-fixed-content {
        padding-right: 24px;
    }







    .expert-flex {
        flex-direction: column;
    }

    .center-col {
        order: 1;
        margin-bottom: 40px;
    }

    .left-side {
        order: 2;
        margin-right: 30px;
    }

    .right-side {
        order: 3;
    }

    .left-side .expert-item {
        text-align: left;
        flex-direction: row-reverse;
    }

    .side-col {
        width: 100%;
        max-width: 500px;
        gap: 20px;
    }








    .step-arrow-box {
        display: none;
    }

    .step-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }








    .testimonial-card {
        min-width: 100%;
    }

    .testimonial-container {
        padding: 0 40px;
    }

    .nav-btn {
        width: 35px;
        height: 35px;
    }





    .faq-grid {
        grid-template-columns: 1fr;
        gap: 0px;
    }







    footer {
        padding: 40px 0 20px;
    }

    .social-box {
        justify-content: center;
    }

    .footer-top-right {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .footer-col h4 {
        margin-bottom: 15px;
    }

    .footer-col ul {
        padding: 0;
    }

    .footer-logo img {
        width: 180px;
    }

    .footer-bottom {
        margin-top: 20px;
        font-size: 0.8rem;
    }





}









@media (max-width: 570px) {

    .section-container {
        width: 94%;
    }

    .navmenu {
        width: 70%;
    }





    .premium-grid {
        grid-template-columns: 1fr;
    }







    .left-side {
        margin-right: auto;
    }

    .side-col {
        max-width: 500px;
        gap: 20px;
    }





    .Choose-container {
        grid-template-columns: 1fr;
    }

    .choose-section p {
        width: 94%;
    }

    .choose-card p {
        width: 100%;
    }






    .testimonial-card {
        padding: 20px;
        border-radius: 10px;
    }



}






@media (max-width: 400px) {

    .step-container {
        grid-template-columns: 1fr;
    }



}